h1{
    color: rgb(18, 38, 74);
    text-align: center;
    padding-top: 20px;
    padding-bottom: 70px;
}

table{
    margin-right: auto;
    margin-left: auto;
    text-align: center;


}

button{
    width: 100px;
}